<div class="form-padding">
    <div class="mt-4">
        <h3 class="d-flex justify-content-center">Sửa sản phẩm</h3>
        <div class="mt-1">
            {{#if err_warning}}
            <div class="alert alert-danger" role="alert">
                {{err_warning}}
            </div>
            {{/if}}
        </div>
        <form method="POST" action="/admin/products/{{products._id}}/edit" autocomplete="off">
            <div class="form-group">
                <label for="product_name">Tên sản phẩm</label>
                <input type="text" class="form-control" id="product_name" value="{{products.product_name}}"
                    name="product_name" />
            </div>
            <div class="form-group">
                <label for="product_img">Hình ảnh</label>
                <input type="file" class="form-control" id="product_img" value="{{products.product_img}}"
                    name="product_img" />
            </div>
            <div class="form-group">
                <label for="category_id">Danh mục</label>
                <select class="form-control" id="category_id" value="{{this.category_id.category_name}}"
                    name="category_id">
                    {{#each categories}}
                    <option value="{{this._id}}" {{#ifCondition this._id 'eq' ../products.category_id}}selected{{/ifCondition}}>
                        {{this.category_name}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="product_price">Giá</label>
                <input type="text" class="form-control" id="product_price" value="{{products.product_price}}"
                    name="product_price" />
            </div>
            <div class="form-group">
                <label for="product_quantity">Số lượng</label>
                <input type="text" class="form-control" id="product_quantity" value="{{products.product_quantity}}"
                    name="product_quantity" />
            </div>
            <div class="form-group">
                <label for="product_describe">Mô tả</label>
                <textarea type="text" class="form-control" id="product_describe"
                    name="product_describe">{{products.product_describe}}</textarea>
                </textarea>
            </div>
            <div class="form-group">
                <label for="product_content">Nội dung</label>
                <textarea type="text" class="form-control" id="product_content"
                    name="product_content">{{products.product_content}}</textarea>
            </div>
            <div class="form-group">
                <label for="product_status">Trạng thái</label>
                <select class="form-control" id="product_status" name="product_status">
                    <option value="1">Hoạt động</option>
                    <option value="0">Ẩn</option>
                </select>
            </div>
            <div class="mt-4 d-flex justify-content-center">
                <a href="/admin/products" class="mr-2 btn btn-info">Danh sách</a>
                <button type="submit" class="ml-2 btn btn-success">Lưu lại</button>
            </div>
        </form>
    </div>
</div>